In [1]:
#creating Lists

In [2]:
lst = []
type(lst)

list

In [3]:
lst = ['ABC',25,'Pune',DS,True]

NameError: name 'DS' is not defined

In [4]:
lst = ['ABC',25,'Pune','DS',True]

In [5]:
lst

['ABC', 25, 'Pune', 'DS', True]

In [6]:
lst[1]

25

In [7]:
lst[2:5]

['Pune', 'DS', True]

In [8]:
lst[2:4]

['Pune', 'DS']

In [9]:
lst[2:]

['Pune', 'DS', True]

In [10]:
lst[:3]

['ABC', 25, 'Pune']

In [11]:
lst.append(5.5)

In [12]:
lst

['ABC', 25, 'Pune', 'DS', True, 5.5]

In [13]:
#Count

In [14]:
lst.count('Pune')

1

In [15]:
#Index
lst.Index(5.5)

AttributeError: 'list' object has no attribute 'Index'

In [16]:
lst.index(5.5)

5

In [17]:
#insert
lst.insert(0,'DA')

In [18]:
lst

['DA', 'ABC', 25, 'Pune', 'DS', True, 5.5]

In [19]:
#pop removes the last item
lst.pop()

5.5

In [20]:
lst

['DA', 'ABC', 25, 'Pune', 'DS', True]

In [21]:
#reverse
lst.reverse()

In [22]:
lst

[True, 'DS', 'Pune', 25, 'ABC', 'DA']

In [23]:
#remove deletes any specific value from list
lst.remove('DA')

In [24]:
lst

[True, 'DS', 'Pune', 25, 'ABC']

In [25]:
#replacing elements in lists
lst[3] = 900
lst

[True, 'DS', 'Pune', 900, 'ABC']

In [26]:
#Tuples
#create a Tuple 

t = ()
type(t)

tuple

In [27]:
t = ('STR',False,10.0,500)

In [28]:
t.count(False)

1

In [29]:
t.index(10.0)

2

In [30]:
#accessing elements
t[1:]

(False, 10.0, 500)

In [31]:
t[0]

'STR'

In [32]:
#Dictionary 
#create

d{}
type(d)

SyntaxError: invalid syntax (2939620616.py, line 4)

In [33]:
d = {}
type(d)

dict

In [34]:
d = {'Name': 'ABC','Dept' : 'HR', 'Age' : 25 ,'Loc' : 'Pune','ID' : True }

In [35]:
d

{'Name': 'ABC', 'Dept': 'HR', 'Age': 25, 'Loc': 'Pune', 'ID': True}

In [36]:
#get

d.get('Name')

'ABC'

In [37]:
#items

d.items()

dict_items([('Name', 'ABC'), ('Dept', 'HR'), ('Age', 25), ('Loc', 'Pune'), ('ID', True)])

In [38]:
#keys

d.keys()

dict_keys(['Name', 'Dept', 'Age', 'Loc', 'ID'])

In [41]:
#adding values in dictionary
d.update({'Car' : 'Honda'})

In [42]:
d

{'Name': 'ABC',
 'Dept': 'HR',
 'Age': 25,
 'Loc': 'Pune',
 'ID': True,
 'Car': 'Honda'}

In [43]:
#pop

d.pop('ID')

True

In [44]:
d

{'Name': 'ABC', 'Dept': 'HR', 'Age': 25, 'Loc': 'Pune', 'Car': 'Honda'}

In [45]:
#values

d.values()

dict_values(['ABC', 'HR', 25, 'Pune', 'Honda'])

In [46]:
#Set 
#create

s={1,10,25,True,'str'}

In [47]:
type(s)

set

In [48]:
#no duplicates

s= {10,10,10,22,32,True}

In [49]:
s

{True, 10, 22, 32}

In [50]:
s

{True, 10, 22, 32}

In [51]:
s.add('ABC')

In [52]:
s

{10, 22, 32, 'ABC', True}

In [53]:
a = {'apple','mango','cherry'}
b = {'micro','google','cherry'}

In [54]:
a.difference(b)

{'apple', 'mango'}

In [55]:
a.intersection(b)

{'cherry'}

In [56]:
a.union(b)

{'apple', 'cherry', 'google', 'mango', 'micro'}

In [57]:
#pop

a.pop()

'mango'

In [58]:
a

{'apple', 'cherry'}

In [60]:
d['Name'] = d['NAME']

KeyError: 'NAME'

In [61]:
d

{'Name': 'ABC', 'Dept': 'HR', 'Age': 25, 'Loc': 'Pune', 'Car': 'Honda'}

In [62]:
d['Name'] = d['NAME']

KeyError: 'NAME'

In [63]:
d['NAME'] = d['Name']

In [64]:
d

{'Name': 'ABC',
 'Dept': 'HR',
 'Age': 25,
 'Loc': 'Pune',
 'Car': 'Honda',
 'NAME': 'ABC'}

In [65]:
d.pop('Name')

'ABC'

In [66]:
d

{'Dept': 'HR', 'Age': 25, 'Loc': 'Pune', 'Car': 'Honda', 'NAME': 'ABC'}

In [67]:
#basic function

In [68]:
def basic_function() :
    print('this is user def function')

In [69]:
basic_function()

this is user def function

In [70]:
#Docstring adding documentation

def func():
    '"This function prints 10"'
    print(10)

In [71]:
func()

10

In [74]:
#write a python function which will return max number

def max_func(num1,num2):
    '"This function will return maximum out of 2 numbers"'
    return max(num1,num2)

In [75]:
max_func(5,10)

10

In [76]:
#*args

def max_num(*num):
    return max(num)

In [77]:
max_num(5,10,12)

12

In [95]:
max_num(100,20,300,400,500,897,900,1100)

1100

In [78]:
#Loops

In [81]:
#While Loop

i = 0

while i < 10:
    
    print(i,'Python')
    i =  i + 1

print('func completed')

0 Python
1 Python
2 Python
3 Python
4 Python
5 Python
6 Python
7 Python
8 Python
9 Python
func completed

In [96]:
steps = 0

while steps <= 5:
    print('You have taken: ' ,steps)
    steps = steps + 1
print('You have reached the top')

You have taken:  0
You have taken:  1
You have taken:  2
You have taken:  3
You have taken:  4
You have taken:  5
You have reached the top

In [82]:
#For Loop

In [83]:
#range

r = range(1,10,2)
list(r)

[1, 3, 5, 7, 9]

In [84]:
r = range(1,10)

In [85]:
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
lst1 = []

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [87]:
lst1 = []
for i in range(1,11):
    lst1.append(i)

lst1

In [89]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
#Company list

company = ['amazon','flipkart','excelr','google']

In [93]:
websites = []

for i in company:
    print('www.' + i +'.com')

www.amazon.com
www.flipkart.com
www.excelr.com
www.google.com

In [94]:
#print square of all numbers in range 1-10
for i in range(1,11):
    
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [97]:
#In class assignment

In [100]:
#assignment 2

for r in range(1,6) :
        r = r+5
        print('new r:',r)

new r: 6
new r: 7
new r: 8
new r: 9
new r: 10

In [118]:
#assignment 4
def age(age1):


     if age1 < 18 :
        print('not eligible')
        return(age1)
    
     else :
        print('eligible to vote')
        return (age1)

In [119]:
age(5)

not eligible

5

In [120]:
age(20)

eligible to vote

20

In [121]:
age(18)

eligible to vote

18

In [122]:
#assignment 4 
def AGE(age2):


     while age2 < 18 :
        print('not eligible')
        return(age2)
        
    while age2 >= 18 :
        print('eligible to vote')
        return (age2)

In [123]:
AGE(80)

eligible to vote

80

In [124]:
AGE(5)

not eligible

5

In [171]:
#assignment 1
lst = ['Anita','Raj','Reena','Arjun','Ali','John','Ashima','Anuj']

lst2 = []

for i in lst:
    if i[0].startswith('A'):
        lst2 = str(i)
        print(lst2)

Anita
Arjun
Ali
Ashima
Anuj

In [14]:
#assignment 3
marks = [20,30,40,76,80,90,78]
marks1 = []

for i in marks:
    if i > 75:
        print(i)

76
80
90
78